<center>
    <nav class="header-nav">
        <ul class="navigation-bar">
            <li><a href="/">CODE</a></li>
            <li><a href="/about/">ABOUT</a></li>
            <li><a href="/gnupg/">GNUPG</a></li>
						<!-- <li><a href="{{ "/feed.xml" | prepend: site.baseurl }}">RSS</a></li> -->
						<li>
							<a href="https://github.com/grahamg">
								<i class="fa fa-github-alt" aria-hidden="true"></i>
							</a>
						</li>
						<li>
							<a href="https://www.linkedin.com/in/grahamgre">
								<i class="fa fa-linkedin" aria-hidden="true"></i>
							</a>
						</li>
						<li>
							<a href="https://bandcamp.com/grahamg">
								<i class="fa fa-bandcamp" aria-hidden="true"></i>
							</a>
						</li>
        </ul>
    </nav>
</center>
